
body {
    background-color: black; 
    color: white;
    padding: 5px;
    font-size: large;
   
  }
  
  #detalhesJogador {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  
  #detalhesJogador img {
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
      max-height: 50vh;
      overflow-x: auto;
  }
  
  #detalhesJogador p {
    margin-bottom: 10px;
  }
  
  #botao{
    background-color:black;
    color:white;
    border:2px solid white;
    padding: 10px 20px;
    font-size: 16px;
    cursor:pointer
  }
  
 

  @media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
